@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --safe-area-inset-top: env(safe-area-inset-top, 0px);
  --safe-area-inset-bottom: env(safe-area-inset-bottom, 0px);

  --home-indicator-height: 0px;
}

body {
  background: #000;
  height: 100%;
  height: -webkit-fill-available;
  overflow: hidden;
}

@supports (viewport-fit: cover) {
  html {
    viewport-fit: cover;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .safe-h-full {
    height: calc(100dvh - (var(--safe-area-inset-top) + var(--safe-area-inset-bottom) + var(--home-indicator-height)));
  }
  .safe-pb {
    padding-bottom: calc(var(--safe-area-inset-bottom) + var(--home-indicator-height));
  }
  .safe-mb {
    margin-bottom: calc(var(--safe-area-inset-bottom) + var(--home-indicator-height));
  }
  .safe-bottom {
    bottom: calc(var(--safe-area-inset-bottom) + var(--home-indicator-height));
  }
  .safe-bottom-minus-bar {
    bottom: calc(var(--safe-area-inset-bottom) + 52px + var(--home-indicator-height));
  }
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}