@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --safe-area-inset-top: env(safe-area-inset-top, 0px);
  --safe-area-inset-bottom: env(safe-area-inset-bottom, 0px);

  --home-indicator-height: 0px;
}

body {
  background: #000;
  height: 100%;
  height: -webkit-fill-available;
  overflow: hidden;
}

@supports (viewport-fit: cover) {
  html {
    viewport-fit: cover;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .safe-h-full {
    height: calc(100dvh - (var(--safe-area-inset-top) + var(--safe-area-inset-bottom) + var(--home-indicator-height)));
  }
  .safe-pb {
    padding-bottom: calc(var(--safe-area-inset-bottom) + var(--home-indicator-height));
  }
  .safe-mb {
    margin-bottom: calc(var(--safe-area-inset-bottom) + var(--home-indicator-height));
  }
  .safe-bottom {
    bottom: calc(var(--safe-area-inset-bottom) + var(--home-indicator-height));
  }
  .safe-bottom-minus-bar {
    bottom: calc(var(--safe-area-inset-bottom) + 52px + var(--home-indicator-height));
  }
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.font-window-grab {
  @apply text-sm;
  font-family: var(--font-window-grab);
  -webkit-user-select: text;
  -webkit-user-select: none;
}

.font-5xl {
  @apply text-5xl;
  font-family: var(--font-hero);
  font-weight: 900;
}

.font-4xl {
  @apply text-4xl;
  font-family: var(--font-header);
  font-weight: 600;
}

.font-3xl {
  @apply text-3xl;
  font-family: var(--font-header);
  font-weight: 500;
}

.font-2xl {
  @apply text-2xl;
  font-family: var(--font-header);
  font-weight: 400;
}

.font-xl {
  @apply text-xl;
  font-family: var(--font-body);
  font-weight: 500;
}

.font-lg {
  @apply text-lg;
  font-family: var(--font-body);
  font-weight: 400;
}

.font-md {
  @apply text-md;
  font-family: var(--font-body);
  font-weight: 300;
}

.font-sm {
  @apply text-sm;
  font-family: var(--font-body);
  font-weight: 400;
}

.font-xs {
  @apply text-xs;
  font-family: var(--font-tiny);
  font-weight: 300;
}

.font-xxs {
  @apply text-xxs;
  font-family: var(--font-tiny);
}

@keyframes pulse {
  0%, 100% {
    opacity: 0.8;
  }
  15% {
    opacity: 0.9;
  }
  30% {
    opacity: 0.77;
  }
  40% {
    opacity: 0.77;
  }
  50% {
    opacity: 0.87;
  }
  65% {
    opacity: 0.8;
  }
}